[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
requests = "*"
urwid = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-runner = "*"
pylint = "*"
pudb = "*"
sphinx = "*"
flit = "*"
setuptools = "*"
mock = "*"
tox = "*"
