[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
requests = "*"
urwid = "*"
click = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pylint = "*"
pudb = "*"
sphinx = "*"
flit = "*"
setuptools = "*"
mock = "*"
tox = "*"
pathlib2 = {version = "*", markers = "python_version < '3.5'"}
scandir = {version = "*", markers = "python_version < '3.5'"}
vulture = "*"
